@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@200;400;600;700&display=swap");
body {
  font-family: "Noto Serif Bengali", serif;
}
a {
  text-decoration: none !important;
}
li,
ul {
  margin: 0px;
  padding-left: 8px;
  list-style: none;
}
:root {
  --main-coler: #1b2f57;
  --second-coler: rgb(219, 176, 120);
}
.w-30 {
  width: 30%;
}
.bg-main {
  background-color: var(--main-coler);
}

.border-second {
  border-bottom: 1px solid var(--second-coler) !important;
}.no-result{
  width: 100%;
  height: calc(100vh - 50vh);
  display: grid;
  place-items: center;
 
}
.text-main {
  color: var(--main-coler);
}
.text-second {
  color: var(--second-coler);
}
.text-justify{
  text-align:justify !important;
}
.about-title-border{
  border-bottom: 2px solid var(--second-coler);
}
.active {
  color: var(--second-coler) !important;
  font-weight: 700;
  border-bottom: 2px solid var(--second-coler);
}
.popular-category .card {
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.popular-category .card:hover {
  cursor: pointer;
  background-color: #4d5b77;
}
.popular-category .card:hover .card-title {
  color: #ffffff !important;
}

.card-img{
  margin: 0 auto;
  border: 4px solid var(--second-coler);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #1b2f57;
  transition: transform .3s ease-in-out;
}
.card{
  cursor: pointer;
}
.card:hover .card-img{
  
  transform: scale(1.05) !important;
}
footer a {
  color: unset;
}
.ad-img {
  width: 100% !important;
  height: 250px !important;
}
.auth-icon {
  width: 70px !important;
  height: 70px !important;
  display: grid;
  place-items: center;
  border: 2px solid var(--main-coler);
}
